@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,800,300italic,italic&display=swap&subset=cyrillic");
@import "variables";
@import "ui/input";

:root {
  --primary-color: red;
  --primary-background: #fefefe;
  --primary-padding: #{$primary-padding};
  --primary-black: #1b1b1b;
  --light-font-color: #ffffff;
  --blue-font-color: #3657d3;
  --text-gray: #8d959c;
}

@media (max-width: $lg-size) {
  :root {
    --primary-padding: 30px;
  }
}

@media (max-width: $md-size) {
  :root {
    --primary-padding: 20px;
  }
}

@media (max-width: $sm-size) {
  :root {
    --primary-padding: 10px;
  }
}

h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: 0em;
  @media (max-width: $sm-size) {
    font-size: 34px;
    line-height: 44px;
  }
}

h2 {
  font-size: 34px;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  @media (max-width: $sm-size) {
    font-size: 28px;
    line-height: 36px;
  }
}

.font-body-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
}

html {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  background: var(--primary-background);
}

input,
button {
  font-family: Montserrat, sans-serif;
}

body {
  margin: auto;
  background: var(--primary-background);
}

main {
  max-width: $page-width;
  margin: auto;
}

.btn {
  max-width: 223px;
  height: 46px;
  border-radius: 2px;
  background: var(--blue-font-color);
  color: var(--light-font-color);
  font-size: 18px;

  &:hover {
    background: transparent;
    border: 1px solid var(--blue-font-color);
  }
}

.btn-dark {
  width: 164px;
  height: 46px;
  background: var(--primary-black);
  border-radius: 2px;
  color: #ffffff;

  &:hover {
    background: var(--blue-font-color);
  }
}

.grey {
  color: var(--text-gray);
}

svg {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
